{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>대외활동 알리미</title>

    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href='{% static "css/ajouactivity.css" %}' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR:400,700&display=swap" rel="stylesheet">


    <!-- Bootstrap core JavaScript -->
    <script src='{% static "jquery/jquery.min.js" %}'></script>
    <script src='{% static "popper/popper.min.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/navbar.min.js" %}'></script>
</head>

<body>

  <!-- Navigation --> 
  {% include 'layouts/navbar.html' %}
  

  <!-- Page Content -->
      {% block content %} {% endblock %}
      <!-- /.container -->

  <!-- Footer -->
 
    {% include 'layouts/footer.html' %}
  
</body>

</html>
